<html>
    <head>
        <title> Mikail Khan </title>
        <link rel="stylesheet" href="/CSS/Resume.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/evil-icons@1.9.0/assets/evil-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/evil-icons@1.9.0/assets/evil-icons.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <div class="flex-parent">
            <div class="section">
                <div class="header">
                    <h1> Mikail Khan </h1>
                    <h2> Math + CS @ Purdue </h2>
                    <a href="https://github.com/mkhan45">
                        <div class="icon-btn" data-icon="ei-sc-github" data-size="m">Github</div>
                    </a>
                    <a href="https://www.linkedin.com/in/mikail-khan-6121921a1/">
                        <div class="icon-btn" data-icon="ei-sc-linkedin" data-size="m">LinkedIn</div>
                    </a>
                </div>
                <div class="body-center">
                    <span class="align-center"><h1> Projects </h1></span>
                    <div class="project-grid">
                        <div class="project">
                            <a href="https://github.com/mkhan45/SIMple-Mechanics">
                                <span class="align-center"><h1> SIMple Mechanics </h1></span>
                                <img src="https://mikail-khan.com/img/mech.png"></img>
                                <div class="project-desc">
                                    A 2D rigidbody simulator made to help learn and teach physics online.
                                </div>
                            </a>
                        </div>
                        <div class="project">
                            <span class="align-center"><h1> mikail-khan.com </h1></span>
                            <img src="https://mikail-khan.com/img/site.png"></img>
                            <div class="project-desc">
                                My personal website.
                            </div>
                        </div>
                        <div class="project">
                            <span class="align-center"><h1> SIMple Gravity </h1></span>
                            <img src="https://mikail-khan.com/img/gravity.png"></img>
                            <div class="project-desc">
                                A universal gravitation simulator made to help learn and teach physics online.
                            </div>
                        </div>
                        <div class="project">
                            <span class="align-center"><h1> Pumice </h1></span>
                            <img src="https://mikail-khan.com/img/pumice.png"></img>
                            <div class="project-desc">
                                A holey, vulkano-built, simple 2D game engine that rocks.
                            </div>
                        </div>
                        <div class="project">
                            <span class="align-center"><h1> Tetrs </h1></span>
                            <img src="https://mikail-khan.com/img/tetrs.png"></img>
                            <div class="project-desc">
                                Tetris using Rust and ggez.
                            </div>
                        </div>
                        <div class="project">
                            <span class="align-center"><h1> ssshmup </h1></span>
                            <img src="https://mikail-khan.com/img/ssshmup.png"></img>
                            <div class="project-desc">
                                A super small shoot 'em up.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
