<html>
    <head>
        <title> Mikail Khan </title>
        <link rel="stylesheet" href="https://unpkg.com/boba@1/dist/boba-extended.min.css">
    </head>

    <body>
        <nav class="navbar blue">
            <a href="#" class="navbar-brand">Mikail Khan</a>
            <input class="navbar-menu-target" type="checkbox" id="nav" />
            <label class="navbar-menu-toggle" for="nav"><span class="navbar-icon"></span></label>
            <ul class="navbar-menu-items">
                <li>
                    <a href="#"><span>Category</span></a>
                </li>
                <li>
                    <a href="#"><span>Category</span></a>
                </li>
                <li>
                    <a href="#"><span>Category</span></a>
                </li>
            </ul>
        </nav>
    </body>
</html>
